extends ../layout

prepend body
  <body class="hold-transition login-page">
    if errs
      each err in errs
        .alert
          span.closebtn(onclick="this.parentElement.style.display='none';") &times;
          |   #{err.msg}
    <div class="login-box">
      <div class="login-logo">
        <a href="/"><b>Online</b>COURSES</a>
      </div>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Sign in to start your session</p>
          if error
            h3 #{error.message}
          if errs
            each err in errs
              h3 #{err.msg}
          case page
            when 1
              <form action="/login" method="post">
                <div class="input-group mb-3">
                  <input type="email" class="form-control" placeholder="Email" name="email" value=#{oldInfor && oldInfor.email}>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-envelope"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <input type="password" class="form-control" placeholder="Password" name="password" value=#{oldInfor && oldInfor.password}>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-lock"></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-8">
                    <div class="icheck-primary">
                      <input type="checkbox" id="remember">
                      <label for="remember">
                        Remember Me
                      </label>
                    </div>
                  </div>
                  <!-- /.col -->
                  <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                  </div>
                  <!-- /.col -->
                </div>
              </form>
            when 2
              <form action="/supervisor_login" method="post">
                <div class="input-group mb-3">
                  <input type="email" class="form-control" placeholder="Email" name="email" value=#{oldInfor && oldInfor.email}>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-envelope"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <input type="password" class="form-control" placeholder="Password" name="password" value=#{oldInfor && oldInfor.password}>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-lock"></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-8">
                    <div class="icheck-primary">
                      <input type="checkbox" id="remember">
                      <label for="remember">
                        Remember Me
                      </label>
                    </div>
                  </div>
                  <!-- /.col -->
                  <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                  </div>
                  <!-- /.col -->
                </div>
              </form>
            when 3
              <form action="/admin_login" method="post">
                <div class="input-group mb-3">
                  <input type="email" class="form-control" placeholder="Email" name="email" value=#{oldInfor && oldInfor.email}>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-envelope"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <input type="password" class="form-control" placeholder="Password" name="password" value=#{oldInfor && oldInfor.password}>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-lock"></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-8">
                    <div class="icheck-primary">
                      <input type="checkbox" id="remember">
                      <label for="remember">
                        Remember Me
                      </label>
                    </div>
                  </div>
                  <!-- /.col -->
                  <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                  </div>
                  <!-- /.col -->
                </div>
              </form>

          <!-- /.social-auth-links -->
          <p class="mb-0">
            case page
              when 1
                <a href="/register" class="text-center">Register </a>
              when 2
                <a href="/supervisor_register" class="text-center">Register </a>  
          </p>
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
    <!-- /.login-box -->
  </body>
