extends ../layout

prepend body
  <body class="hold-transition register-page">
    <div class="register-box">
      <div class="register-logo">
        <a href="/"><b>Online</b>COURSES</a>
      </div>

      <div class="card">
        <div class="card-body register-card-body">
          if error
            h3 #{error.message}
          if errs
            each err in errs
              h3 #{err.msg}
          <p class="login-box-msg">Register a new membership</p>
          case page
            when 1
              <form action="/register" method="post">
                <div class="input-group mb-3">
                  <input type="email" class="form-control" placeholder="Email" name="email" value=#{oldInfor && oldInfor.email}>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-envelope"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <input type="password" class="form-control" placeholder="Password" name="password" value=#{oldInfor && oldInfor.password}>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-lock"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <input type="password" class="form-control" placeholder="Retype password" name="retype_password" value=#{oldInfor && oldInfor.retype_password}>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-lock"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Full name" name="name" value=#{oldInfor && oldInfor.name}>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-user"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Address" name="address" value=#{oldInfor && oldInfor.address}>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-map-marker-alt"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <input type="tel" class="form-control" placeholder="Telephone" name="tel" value=#{oldInfor && oldInfor.tel}>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-phone-square"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <input type="date" class="form-control" placeholder="Birthday" name="birthday" value=#{oldInfor && oldInfor.birthday}>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-birthday-cake"></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-8">
                    <div class="icheck-primary">
                      <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                      <label for="agreeTerms">
                       I agree to the <a href="#">terms</a>
                      </label>
                    </div>
                  </div>
                  <!-- /.col -->
                  <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                  </div>
                  <!-- /.col -->
                </div>
              </form>
            when 2
              <form action="/supervisor_register" method="post">
                <div class="input-group mb-3">
                  <input type="email" class="form-control" placeholder="Email" name="email" value=#{oldInfor && oldInfor.email}>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-envelope"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <input type="password" class="form-control" placeholder="Password" name="password" value=#{oldInfor && oldInfor.password}>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-lock"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <input type="password" class="form-control" placeholder="Retype password" name="retype_password" value=#{oldInfor && oldInfor.retype_password}>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-lock"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Full name" name="name" value=#{oldInfor && oldInfor.name}>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-user"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Address" name="address" value=#{oldInfor && oldInfor.address}>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-lock"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <input type="tel" class="form-control" placeholder="Telephone" name="tel" value=#{oldInfor && oldInfor.tel}>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-phone-square"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <input type="date" class="form-control" placeholder="Birthday" name="birthday" value=#{oldInfor && oldInfor.birthday}>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-birthday-cake"></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-8">
                    <div class="icheck-primary">
                      <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                      <label for="agreeTerms">
                       I agree to the <a href="#">terms</a>
                      </label>
                    </div>
                  </div>
                  <!-- /.col -->
                  <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                  </div>
                  <!-- /.col -->
                </div>
              </form>
          case page
            when 1
              <a href="/login" class="text-center">LOGIN </a>
            when 2
              <a href="/supervisor_login" class="text-center">LOGIN </a>
            when 3
              <a href="/admin_login" class="text-center">LOGIN </a>
        </div>
        <!-- /.form-box -->
      </div><!-- /.card -->
    </div>
  <!-- /.register-box -->
  </body>