<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= msg %> </h1>
    <form action="/update" method="post">
        <table>
            <tr>
                <td>First Name:</td>
                <td><input type="text" name="first_name" id="" value="<%= employee.first_name %> "></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input type="text" name="last_name" id="" value="<%= employee.last_name %> "></td>
            </tr>
            <tr>
                <td>Age:</td>
                <td><input type="text" name="age" id="" value="<%= employee.age %> "></td>
            </tr>
            <tr>
                <td>Company:</td>
                <td>
                    <select name="company" id="">
                        <% companies.forEach(company => { %>
                         <option value="<%= company.name %> "><%= company.name %> </option>
                        <% }) %>
                    </select>
                </td>
            </tr>
            <tr>
                <td><input type="reset" value="Reset"></td>
                <td><input type="submit" value="Update"></td>
            </tr>
        </table>
        <input type="hidden" name="id" value="<%= employee._id %> ">
    </form>
    <br>
    <a href="/">Back to home page</a>
</body>
</html>