<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>
    form:first-child {
      margin-right: 5px;
    }
    form a {
      text-decoration: underline;
    }

    form a:hover {
      cursor: pointer;
    }
  </style>
</head>

<body>
  <% if (user) { %>
   <h1><%= msg %> </h1>
   <a href="/logout">Log out</a>
  <% } %>
  <h1>List of <%= obj %></h1>
  <h2>Total employees: <%= totalEmployees %></h2>
  <table>
    <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Age</td>
    <th>Company</th>
    <th></th>
    </tr>
    <% for( let index = 0; index < employees.length; index++ ) { %>
    <tr>
      <td>
        <%= employees[index].first_name %>
      </td>
      <td>
        <%= employees[index].last_name %>
      </td>
      <td>
        <%= employees[index].age %>
      </td>
      <td>
        <%= employees[index].company %>
      </td>
      <td style="display: flex;">
        <form method="post" action="/delete">
          <input type="hidden" name="id" value="<%= employees[index]._id %> " />
          <a onclick="this.parentNode.submit();">Delete</a>
        </form>
        <form method="post" action="/edit">
          <input type="hidden" name="id" value="<%= employees[index]._id %> " />
          <a onclick="this.parentNode.submit();">Edit</a>
        </form>
      </td>
    </tr>
    <% } %>
  </table>
  <a href="add-employee">Add employee hereeeee!</a>
  
</body>

</html>