extends ./home

block pageHead
  h1 #{user.userType}

block pageLinks
  ul.nav.nav-pills
    li.nav-item
      a.nav-link.active(href='/trainee') Courses
    li.nav-item
      a.nav-link(href='/trainee/yourCourses') YourCourses
    li.nav-item
      a.nav-link(href='/trainee/profile') Edit Profile
    li.nav-item
      a.nav-link(href='/trainee/search') Search

block contentPage
  #Profile.active.tab-pane
    form.form-horizontal(action=url method="post")
      if message
        h3 #{message}
      if error
        h3 #{error.message}
      if err
        h3 #{err.msg}
      if errs
        each err in errs
          h3 #{err.msg}
      .form-group.row
        label.col-sm-2.col-form-label(for='category') SecretKey
        .col-sm-10
          input#category.form-control(type='text', placeholder='Name of Category', name='secretKey')
      .form-group.row
        .offset-sm-2.col-sm-10
          button.btn.btn-danger(type='submit') Enroll