extends ./home

block pageHead
	h1 Supervisor

block pageLinks
	ul.nav.nav-pills
		li.nav-item
			a.nav-link.active(href='/supervisor', data-toggle='tab') Courses
		li.nav-item
			a.nav-link(href='/supervisor/createCourse', data-toggle='tab') Create Courses
		li.nav-item
			a.nav-link(href='/supervisor/profile', data-toggle='tab') Edit Profile

block contentPage
	.row
		each course in courses
			.col-md-6
				// AREA CHART
				.card.card-primary
					.card-header
						h3.card-title #{course.name}
						.card-tools
							button.btn.btn-tool(type='button', data-card-widget='collapse')
								i.fas.fa-minus
							button.btn.btn-tool(type='button', data-card-widget='remove')
								i.fas.fa-times
					.card-body
						.post
							.user-block
								span.username
									a(href='#') #{course.createDay}
									a.float-right.btn-tool(href='#')
										i.fas.fa-times
								span.description #{course.timeOfCourse}
							// /.user-block
							p #{course.overView}
							p
								form(action=`/supervisor/course/${course.courseId}` method='get')
									button
										i.fas.fa-share.mr-1
										|  Edit Course
							p Number of people enroll
							each category in course.categories
								span.float-right #{category}
					// /.card-body
				// /.card
			
		

