extends ./home

block pageHead
  h1 #{user.userType}

block pageLinks
  ul.nav.nav-pills
    li.nav-item
      a.nav-link.active(href='/trainee') Courses
    li.nav-item
      a.nav-link(href='/trainee/yourCourses') YourCourses
    li.nav-item
      a.nav-link(href='/trainee/profile') Edit Profile
    li.nav-item
      a.nav-link(href='/trainee/search') Search

block contentPage
  #Courses.active.tab-pane
    form.form-horizontal(action="/trainee" method="get")
      .form-group.row
        h3 Category of Course
        br
        .col-sm-10
          each category in categories				
            input(type='checkbox', name='category', value=category.categoryName, id=categoryName)
            label #{category.categoryName}
      .form-group.row
        .col-sm-10
          label(for='courseName') Course's Name
          input#courseName.form-control(type='text', name='name', value=courseName)
      .form-group.row
        .col-sm-10
          label(for='courseName') Course's OverView
          input#courseName.form-control(type='text', name='overView', value=courseName)
      .form-group.row
        button.btn.btn-danger(type='submit') Search
    each course in courses
      .post
        .user-block
          span.username
            a(href='#') #{course.name}
            a.float-right.btn-tool(href='#')
              i.fas.fa-times
          span.description #{course.timeOfCourse}
          p 
            strong #{course.typeOfCourse}
        // /.user-block
        p #{course.overView}
        p
          form(action=`/trainee/course/${course.courseId}` method='post')
            button(name='courseId' value=course.courseId)
              i.fas.fa-share.mr-1
              |  Enroll
        p Number of people enroll
        each category in course.categories
          span.float-right #{category}
        p
        input.form-control.form-control-sm(type='text', placeholder='Type a comment')
    // /.post
    // Post

